body{
    margin: 0px;
    padding: 0px;
    background: url(Violet_Evergarden_Vaioretto_Evag_3840x2160.jpg);
    color: white;
    width: 100%;
    height: 100%;
    background-position:top;
    background-size: 500%;
}

img{
    width: 100px;
    height: 100px;
}

.fixed-mid{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
