body{
    background: linear-gradient(110deg, rgb(18, 18, 69) 60%, rgb(30, 134, 61) 60%);
    color: white;
    width: 100vh;
    height: 100vh;
}

img{
    width: 100px;
    height: 100px;
}

.fixed-mid{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
